{% extends 'user_base.html' %}

{% block meta %}
    <title>User Dashboard</title>
{% endblock meta %}

{% block content %}
    <h2 class="text-center">New Post</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-block">Publish</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block footer %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    document.getElementById('id_body').removeAttribute('required');
    var simplemde = new SimpleMDE({ 
            element: document.getElementById("id_body"),
            spellChecker: false,
        }
    );
</script>
{% endblock footer %}