{% extends 'base.html' %}


{% block meta %}
    <title>About - Pastebin</title>
{% endblock meta %}
    

{% block content %}
    <h1 class="text-center">About</h1>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellendus vero alias obcaecati dolor eos, 
            asperiores odio magnam cupiditate quia laborum. Sint possimus ratione quam facilis. Est eveniet ipsum aliquam?</p>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellendus vero alias obcaecati dolor eos, 
            asperiores odio magnam cupiditate quia laborum. Sint possimus ratione quam facilis. Est eveniet ipsum aliquam?</p>
    </div>
{% endblock content %}
    