{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
    <h1 class="text-center">Login</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button class="btn btn-info btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .errorlist{
            background-color: #f3eeee;
            color: #ff0000;
            list-style-type: none;
        }
    </style>
{% endblock content %}
    
    