{% extends 'base.html' %}

{% block meta %}
    <title>{{ data.title }}</title>
{% endblock meta %}

{% block content %}

    <div class="container">
        <h1 class="text-center">{{ data.title }}</h1>
        <div class="img-fluid">
            <img src="{{ MEDIA_URL  }}/{{ data.featured_image }}" alt="">
        </div>
        <article id="post-body">          
            {% autoescape off %}
                {{ rendered_post }}    
            {% endautoescape %}   
        </article>
    </div>
        
{% endblock content %}
   