{% extends 'base.html' %}

{% block meta %}
    <title>{{ data.title }}</title>
{% endblock meta %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
                <h1 class="text-center">{{ data.title }}</h1>
            </div>
            <div class="col-sm-6">
                
                {% if data.featured_image %}
                    <img src="{{ data.featured_image.url }}" alt="" class="img-fluid">
                {% endif %}
                    
            </div>
        </div>
        <div style="background-color: #eeeeee; padding: 10px; border-radius: 5px; border: 1px solid #c3c3c3;" class="mt-5">
        <b class="fa fa-user"> Published By: </b>{{ data.created_by }} | 
        <b class="fa fa-clock-o"> On: </b> {{ data.created_on|timesince }} ago
        </div>
        <article id="post-body" class="mt-5">          
            {% autoescape off %}
                {{ rendered_post }}    
            {% endautoescape %}   
        </article>
    </div>
        
{% endblock content %}
   