{% extends 'base.html' %}

{% block meta %}
    <title>{{ data.title }}</title>
{% endblock meta %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
                <h1 class="text-center">{{ data.title }}</h1>
            </div>
            <div class="col-sm-6">
                <img src="{{ data.featured_image.url }}" alt="">
            </div>
        </div>
        <article id="post-body" class="mt-5">          
            {% autoescape off %}
                {{ rendered_post }}    
            {% endautoescape %}   
        </article>
    </div>
        
{% endblock content %}
   