{% extends 'base.html' %}

{% block meta %}
    <title>Search</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid" id="search">
        <h1 class="text-center mb-5">Search public posts</h1>
        <form method="get" class="d-flex" onsubmit="return validate()" name="search-form">
            <input type="search" class="form-control mr-5" name="s" id="s" placeholder="Enter title">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    
<section id="search-result" class="container">
    {% if message %}
        <div class="alert alert-danger text-center">
             <b>{{ message }}</b>
        </div>
    {% else %}

        <h1 class="text-center mt-5">Showing results for "{{ query }}"</h1>
        <p>Total results found: {{ total_posts }}</p>
        <ul class="list-group">
            {% for p in posts %}
                <li class="list-group-item">
                    {{ p.title }}
                    <a href="{% url 'blog' id=p.id %}" style="float: right;" class="fa fa-eye btn btn-primary"></a>
                </li>
            {% endfor %}     
        </ul>
    {% endif %}
</section>
        
{% endblock content %}


{% block footer %}
    <script>
        function validate(){
            var data = document.forms['search-form']['s'].value;
            if(data.length == 0){
                swal( "Oops" ,  "Please type something in the search box." ,  "error");
                return false;
            }
            else{
                return true;
            }
        }
    </script>
{% endblock footer %}
    
    